@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.m-card {
  @include centerStack;
  border-radius: 1rem;
  width: 100%;
  height: 200px;
  padding: 0 0.5rem;
  position: relative;
  cursor: pointer;

  &__logo {
    border-radius: 100%;
    position: absolute;
    top: 2px;
    right: 2px;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
  }

  &__loading {
    position: absolute;
    bottom: 5px;
    color: #ddd;
  }
}
