// Breakpoints

$small: 480px;
$medium: 768px;
$large: 960px;
$high-quality: 1700px;

//COLORS
$white: #fff;
$primary: #fefcfc;
$secondary: #472fa2;
$gray: #6a7a88;

//Z-index
$z-back: -1;
$z-none: 0;
